body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.main-container {
  padding: 30px;
  background-color: black;
  color: white;
  height: 100vh;
}

.main-container .main-info {
  border: 2px solid blue;
  padding: 20px;
}

button {
  background-color: royalblue;
  box-sizing: border-box;
  border: 1500px;

}
li{
  border-bottom: 0px; solid #555;
  display: inline;
}

nav{
  width: max-content;
}