body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.main-container {
  padding: 30px;
  background-color: black;
  color: white;
  height: 100vh;
}

.main-container .main-info {
  border: 2px solid blue;
  padding: 20px;
}

.button {
  background-color: royalblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: ;
  font-size: 16px;
}
.top {
  background-color: rgb(161, 161, 175);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  color: antiquewhite;
}
.search {
  color: antiquewhite;
}
.Lowerbody {
  background-color: black;
  color: white;
  display: flexbox;
  text-align: center;
  font-family: cursive;
  font-size: small;
}
.main-info {
  image-resolution: max-width:;
}
